<div class="card card-primary">
    <header class="card-header">Primary Card Title</header>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum deserunt voluptas cupiditate perferendis
        distinctio et sunt officia libero at nostrum?
    </div>
</div>

<div class="card card-secondary">
    <header class="card-header">Secondary Card Title</header>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum deserunt voluptas cupiditate perferendis
        distinctio et sunt officia libero at nostrum?
    </div>
</div>