<section class="block" data-aos="zoom-in">
    <header class="block-header">
        <h2>What our Customers are Saying</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, quis?</p>
    </header>
    <div class="container">
        <div class="card testimonial">
            <div class="grid grid-1x2">
                <div class="testimonial-image">
                    <img src="images/testimonial.jpg" alt="portrait of a man">
                    <span class="icon-container icon-container-accent">
                        <svg class="icon icon-white icon-small">
                            <use href="images/sprite.svg#quotes"></use>
                        </svg>
                    </span>
                </div>
                <blockquote class="quote">
                    <p class="quote-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores tempora saepe omnis ut
                        odio natus aut
                        iusto necessitatibus blanditiis tenetur.
                    </p>
                    <footer>
                        <div class="media">
                            <div class="media-image">
                                <svg class="icon icon-primary quote-line">
                                    <use href="images/sprite.svg#line"></use>
                                </svg>
                            </div>
                            <div class="media-body">
                                <h3 class="media-title quote-author">John Smith</h3>
                                <p class="quote-organization">ABC Company</p>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>